/* Format: Table */
.grades {
  border-spacing: 0;

}

.grades__row {
  padding: 0.5em;
}

.grades__row:hover {
  background-color: #f0f0f0;
}

.grades__row--header {
  background-color: #ececec;
}

.grades__row--header:hover {
  background-color: #ececec;
}

.grades__header {
  font-size: 0.85rem;
  padding: 0.75em;
  text-align: left;
}

.grades__data {
  font-size: 0.9rem;
  padding: 0.75em; 
}

.grades__data--descriptive-title {
  display: flex;
  flex-flow: column nowrap;
}

.grades__schedule {
  font-size: 0.75rem;
}

.grades__data--center {
  text-align: center;
}