* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Inter, figtree, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: figtree, Helvetica, sans-serif;
  font-weight: 800;
}

/*** Dashboard */
/* West */
.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.nav {
  align-items: center;
  background-color: #FFFFFF;
  border-right: 0.5px solid #CCCCCC;
  display: flex;
  justify-content: start;
  flex-flow: column nowrap;
  padding: 2.5em;
  width: 22.5em;
}

.nav__logo {
  align-items: center;
  display: flex;
  gap: 0.5em;
  width: 100%;
}

.nav__logo-img {
  width: 3.125em;
}

.nav__endpoint {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.nav__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  list-style: none;
  margin-top: 2em;
  width: 100%;
}

.nav__label {
  font-size: 0.625rem;
  text-transform: uppercase;
}

.nav__item {
  align-items: center;
  display: flex;
  gap: 0.5em;
  font-size: 0.875rem;
  padding: 0 0.5em;
  text-decoration: none;
}

.nav__item:hover,
.nav__item:hover > .nav__link {
  color: #075aff;
}

.fa-regular {
  width: 1em;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.main {
  background-color: #FAFAFA;
}

/* East */
.main {
  display: flex;
  flex-flow: column nowrap;
  gap: 2.5em;
  padding: 2.5em;
  width: 100%;
}

.header {
  align-items: end;
  display: block;
  width: 100%;
}

.header__contents {
  align-items: end;
  display: flex;
  gap: 0.75em;
  justify-content: space-between;
  width: 100%;
}

.header__title {
  font-family: figtree, Inter, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  height: 100%;
  padding: 0.5em;
}

.header__profile {
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 20px 0px #0000000c;
  border-radius: 0.5em;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
}

.header__profile-img {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}

.header__profile-name {
  font-family: Inter, figtree, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}

.header_divider {
  border-bottom: 0.5px solid #CCCCCC;
  margin-top: 1em;
  height: 2px;
  width: 100%;
}

.main__section {
  background-color: white;
  box-shadow: 0px 0px 20px 0px #0000000c;
  display: flex;
  flex-flow: column nowrap;
  padding: 2em;
  width: 100%;
}

.main__section-title {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}