.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-view {
  background: url('../images/ateneo-building-close-up.png') no-repeat center center fixed;
  width: 50%;
  height: 100%;
  display: flex;
}

.login {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-flow: column nowrap;
  align-items: start;
  padding: 5em;
}

.login__logo {
  margin-bottom: 1em;
}

.login__subtitle {
  margin-bottom: 1em;
}

.login__form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.login__group {
  display: flex;
  flex-flow: column nowrap;
}

.login__input {
  border-radius: 0.5em;
  border: 1px solid #CCC;
  font-size: 0.8em;
  padding: 0.75em;
  margin-bottom: .5em;
}

.login__input:focus {
  border: 1px solid #238DDE;
}

.login__button {
  border-radius: 0.5em;
  border: 0px solid #238DDE;
  padding: 0.75em;
  margin-bottom: .5em;
  background-color: #238DDE;
  color: #FFF;
  cursor: pointer;
}

.login__link {
  color: #238DDE;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
}